@font-face {
    font-family: 'Effra-Regular';
    src: url("fonts/effra/effra-regular.eot");
    src: url("fonts/effra/effra-regular.eot?#iefix") format("embedded-opentype"), url("fonts/effra/effra-regular-ttf.ttf") format("truetype"), url("fonts/effra/effra-regular-svg.svg#effra_regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Effra-Medium';
    src: url("fonts/effra/effra-medium.eot");
    src: url("fonts/effra/effra-medium.eot?#iefix") format("embedded-opentype"), url("fonts/effra/effra-medium.ttf") format("truetype"), url("fonts/effra/effra-medium.svg#effra_medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-Light';
    src: url("fonts/effra/effra-light.eot");
    src: url("fonts/effra/effra-light.eot?#iefix") format("embedded-opentype"), url("fonts/effra/effra-light.ttf") format("truetype"), url("fonts/effra/effra-light.svg#effra_light") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Effra-Heavy';
    src: url("fonts/effra/effra-heavy.eot");
    src: url("fonts/effra/effra-heavy.eot?#iefix") format("embedded-opentype"), url("fonts/effra/effra-heavy.ttf") format("truetype"), url("fonts/effra/effra-heavy.svg#effra-heavy") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Effra-Bold';
    src: url("fonts/effra/effra-bold.ttf");
    font-weight: normal;
    font-style: normal;
}
