footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	a {
		color: #fff !important;
		text-decoration: none;
	}
	.footer-main {
		background: $primary;
	}
	.footer-meta {
		@include rems(padding, 1, 0);
		background: #1d1d1b;
		@include font-size(1.4, 2);
	}
}
