.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1);
	-webkit-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background: #fff;
	border: 1px solid #ccc;
	font-family: 'Effra-Regular', Sans-Serif;
	@include font-size(1.6, 2.2);
	border: 1px solid #e1e1e1;
	.search-block & {
		float: left;
		width: calc(100% - 44px);
		width: calc(100% - 4.4rem);
	}
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles
	background: #fff;
	color: #333;
	font-weight: 700;
	@include rems(padding, 0.5, 1);
	border: none;
	font-family: 'Effra-Regular', Sans-Serif;
	@include font-size(1.6, 2.2);
	.search-block & {
		@include rems(width, 4.4);
		@include rems(height, 4.4);
		text-indent: -10000px;
		background: url('images/search@2x.png');
		background-size: contain;
		border-radius: 0;
		float: right;
	}
}
select {
	background-image: url('images/select@2x.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 45px auto;
	background-size: 4.5rem auto;
	@include rems(padding, 1, 5.2, 1, 1);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background-color: #e1e1e1;
	font-family: 'Effra-Regular', Sans-Serif;
	@include font-size(1.6, 2.2);
	border: 1px solid #e1e1e1;
	color: #333;
}
select::-ms-expand {
    display: none;
}
form {
	@include clearfix;
	input[type="submit"] {
		float: right;
	}
	p {
		padding-bottom: 0;
	}
	br {
		display: none;
	}
}
label {
	.search-block & {
		display: none;
	}	
}
