body {
	font-family: 'Effra-Regular', Sans-Serif !important;
    color: $main;
    @include font-size(1.6, 2.4);
}
.container {
	@include rems(max-width, 128);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
		@media #{$phone} {
			@include rems(padding, 2, 0);
		}
	}
	&.ultra {
		@include rems(padding, 8, 0);
		@media #{$phone} {
			@include rems(padding, 4, 0);
		}
	}
	&.no-top {
		padding-top: 0;
	}
	&.no-bottom {
		padding-bottom: 0;
	}
	.full & {
		width: 100%;
		@include rems(max-width, 500);
		img {
			width: 100%;
		}
	}
	.standard & {
		width: 90%;
		@include rems(max-width, 128);
	}
	.mid & {
		width: 90% !important;
		@include rems(max-width, 96);
		@media #{$tablet-portrait} {
			@include rems(max-width, 128);
		}
	}
	.narrow & {
		@include rems(max-width, 62);
		@media #{$tablet-portrait} {
			@include rems(max-width, 128);
		}
	}
	article & {
		width: 100%;
		max-width: 100%;
		&:last-child {
			padding-bottom: 0;
		}
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
.page-main {
	width: 65%;
	width: calc(100% - 360px);
	width: calc(100% - 36rem);
	@media #{$tablet-portrait} {
		width: 100%;
	}
}
.page-sidebar {
	@include rems(width, 30);
	@include rems(margin-left, 6);
	@include box;
	@media #{$tablet-portrait} {
		display: none;
	}
}
.flex-article {
	display: flex;
	align-items: stretch;
}
