.filter-block {
	text-align: center;
	@include rems(padding, 1, 0);
	border-top: 1px solid $primary;
	border-bottom: 1px solid $primary;
	ul {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		@media #{$phone} {
			flex-wrap: wrap;
		}
		li {
			@include rems(margin, 0, 1);
			@media #{$phone} {
				width: 100%;
				@include rems(margin, 0.5, 0);
			}
			a {
				color: $primary;
				text-decoration: none;
				border-bottom: 1px solid #fff;
				transition: 0.4s all ease;
				&.active, &:hover {
					border-bottom: 1px solid $primary;
				}
			}
		}
	}
}
.mix {
	display: none;
}
