nav {
	header & {
		display: flex;
		align-items: stretch;
		@media #{$phone} {
			display: none;
		}
		ul {
			@include clearfix;
			display: flex;
			align-items: stretch;
			justify-content: center;
			font-family: 'Effra-Heavy';
			li {
				@include rems(margin, 0, 2);
				display: flex;
				align-items: stretch;
				@include box;
				position: relative;
				@media #{$tablet-portrait} {
					@include rems(margin, 0, 1);
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $main;
					text-decoration: none;
					border-top: 4px solid #fff;
					border-bottom: 4px solid #fff;
					display: flex;
					align-items: center;
					transition: 0.4s all ease;
				}
				&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
					& > a {
						border-bottom: 4px solid $primary;
						color: $primary;
					}
				}
				& > ul {
					display: none;
					position: absolute;
					left: 0;
					top: 100%;
					background: $primary;
					@include rems(padding, 2, 0);
					@include border-radius(0 5px 5px 5px);
					font-family: 'Effra-Regular';
					li {
						display: block;
						white-space: nowrap;
						margin: 0;
						a {
							color: #fff;
							border: none;
							border-left: 5px solid $primary;
							@include rems(padding, 0.5, 2, 0.5, 1.5);
						}
						&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
							& > a {
								border: none;
								border-left: 5px solid #fff;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}
.menu-header-menu-container {
	display: flex;
	align-items: stretch;
}
.mobile-nav-trigger {
	display: none;
	@media #{$phone} {
		display: block;
		@include rems(padding, 1, 2);
		background: $primary;
		color: #fff;
		text-decoration: none;
		font-family: 'Effra-Medium';
		&:before {
			float: right;
			@include icon('\f0c9');
		}
		&.active {
			&:before {
				@include icon('\f00d');
			}
		}
	}
}
.mobile-nav {
	display: none;
	li {
		border-bottom: 1px solid #ccc;
		a {
			display: block;
			@include rems(padding, 1, 2, 1, 1.5);
			border-left: 5px solid #fff;
			border-left: 0.5rem solid #fff;
			color: $main;
			text-decoration: none;
		}
		&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
			a {
				border-left: 5px solid $primary;
				border-left: 0.5rem solid $primary;
			}
		}
	}
}
