.publication-list {
	.container {
		a {
			text-decoration: none;
		}
	}
	.widget-body {
		ul {
			li {
				border: 1px solid $primary;
				background: $secondary;
				@include rems(padding, 1, 2);
				@include rems(margin-bottom, 1);
				a {
					font-family: 'Effra-Bold';
					color: $primary;
				}
				span {
					display: block;
				}
				&:last-child {
					display: none;
				}
			}
		}
	}
}
