.search-block {
	background: #fff;
	@include rems(padding, 2, 0);
	display: none;
}
.search-results-list {
	li {
		@include rems(padding, 2, 0);
		border-bottom: 1px solid #ccc;
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
		&:first-child {
			padding-top: 0;
		}
	}
}
