a {
	color: $primary;
}
h1, h2, h3 {
	text-transform: uppercase;
}
.title-block {
	background: $secondary;
	@include rems(padding, 2, 0);
	border-bottom: 1px solid $primary;
	h1 {
		font-family: 'Effra-Heavy';
		@include font-size(4.8, 6);
		color: $primary;
	}
}
h1 {
	.page-section &, article & {
		color: $primary;
		font-family: 'Effra-Heavy';
		@include font-size(3.4, 4);
		@include rems(margin-bottom, 2);
		@media #{$phone} {
			@include font-size(2.8, 3.4);
		}
		footer & {
			color: #fff;
			@include font-size(1.6, 2.4);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
h2 {
	.post-excerpt-content & {
		@include rems(padding, 0, 0, 1);
		border-bottom: 1px solid $primary;
		font-family: 'Effra-Bold';
		@include rems(margin-bottom, 1);
		.publication-list & {
			display: none;
		}
	}
	.page-section & {
		color: $main;
		@include font-size(3, 3.4);
		@include rems(margin, 0, 0, 2);
		font-family: 'Effra-Medium';
		&:first-child {
			margin-top: 0;
		}
		footer & {
			color: #fff;
			@include font-size(1.6, 2.4);
		}
	}
	.research-overlay & {
		color: #fff;
		@include font-size(1.8, 2.4);
		margin-bottom: 0;
	}
	.excerpt-content &, .search-results-list & {
		@include font-size(1.8, 2.4);
		text-transform: none;
		font-family: 'Effra-Medium';
		@include rems(margin, 0, 0, 1);
		a {
			color: $main;
			text-decoration: none;
		}
	}
	.widget & {
		color: $primary;
		text-transform: uppercase;
		@include font-size(1.6, 2);
		@include rems(margin-bottom, 2);
		font-family: 'Effra-Medium';
	}
}

p.post-meta {
	border-bottom: 1px solid #ccc;
	@include rems(margin-bottom, 4);
	@include rems(padding-bottom, 1);
	span {
		@include rems(margin-right, 2);
		i {
			color: $primary;
			@include rems(margin-right, 0.5);
		}
		a {
			color: $main;
			text-decoration: none;
		}
		em {
			&:last-child {
				display: none;
			}
		}
	}
}
